<div class="contact-wrap">
  <div class="white-copy">
    <h1><strong>Contact me</strong></h1>
    <p class="white-copy">Feel free to give me a call or stop by for a cup of tea. On second thoughts, call first.</p>
  </div>  
</div>  