  <div class="col-md-6">
    <div class="post-date"><strong>Posted <%= post.created_at.strftime("%d %b %y") %></strong></div>

    <%= image_tag(post.image_url, class: "img-responsive") %>

    <h2><%= post.title %></h2>
    <div class="text-center">
      <%= link_to 'READ', post, class: "btn btn-primary" %>
    </div>  
  </div>
  