<div class="show-wrap">
  <p>
    <%= image_tag @post.image_url, class: "img-responsive"%>
  </p>
  <p>
    <strong><%= @post.title %></strong>
  </p>

  <p>
    <%= @post.body %>
  </p>
  <br/>
  <div class="fb-comments text-center" data-href="https://ayurvedafamily.herokuapp.com" data-width="900" data-numposts="5"></div>

</div>